body,
html {
  /* height: 100%; */
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

main {
  margin: 0;
  padding: 0 50px 50px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  background-color: #fffacd;
  min-height: 50vh;
}